/vendor
/.idea
Homestead.json
Homestead.yaml

.env
composer.json



storage/*
storage/app/*
storage/framework/*
storage/logs/*
storage/api-io/*
!storage/app/.gitkeep
!storage/framework/.gitkeep
!storage/logs/.gitkeep
!storage/api-io/.gitkeep